  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
    <div class='nav' id="header">
    <h3>Restaurants<i class="far fa-grin-tongue"></i></h3>
    </div>
    <div class='container'>
      <form>
        <div class="form-group">
          <%= simple_form_for :restaurant do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.label :address %>
            <%= f.text_field :address %>
            <%= f.label :phone_number %>
            <%= f.text_field :phone_number %>
            <%= f.label :category %><br>
            <%= f.select :category, %w(chinese italian japanese french belgian) %>
            <br>
            <%= f.submit %>
          <% end %>
        </div>
      </form>
    </div>
  </body>
